@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;900&family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* header */

header {
    padding: 30px 0;
}

.wrapper {
    max-width: 80%;
    margin: 0 auto;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
}

/* navigation items */

nav ul {
    display: flex;
    list-style: none;
    padding-top: 66px;
    gap: 60px;
}

nav ul li a {
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: #252B42;
}

nav ul li a:hover {
    color: #FA4A0C;
}

/* main section */

/* hero section */

.hero-content {
    background-image: url(images/food.png);
    height: 619px;
    color: white;
}

.hero-text {
    text-align: center;
}

.hero-text h4 {
    padding-top: 50px;
    margin-bottom: 17px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

.hero-text h1 {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
    font-family: 'Poppins', sans-serif;
}

.hero-text p {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
}

.btn {
    margin-top: 60px;
    font-weight: 700;
}

.btn .play-store {
    color: white;
    padding: 16px 40px;
    border-radius: 30px;
    background-color: #FA4A0C;
    text-decoration: none;
}

.btn .play-store:hover {
    background-color: rgb(160, 111, 111);
}

.btn .app-store {
    color: white;
    padding: 16px 40px;
    border: 1px solid white;
    border-radius: 30px;
    text-decoration: none;
}

.btn .app-store:hover {
    background-color: white;
    color: black;
}

.hero-img {
    display: flex;
    justify-content: center;
}

.hero-img img {
    width: 548px;
    height: 700px;
    justify-content: center;
}

/* app working section */

.blog-part {
    padding-top: 420px;
}

.top-head {
    padding: 90px 0;
}

hr {
    border: 2px solid #E4E4E4;
    margin-bottom: 32px;
}

.top-head h3 {
    text-align: center;
    font-size: 44px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-top: 22px;
    color: #000000;
    font-family: 'Poppins', sans-serif;
}

.blog {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
}

.blog img {
    max-width: 40%;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.content h2 {
    font-size: 40px;
    color: #252B42;
}

.content p {
    font-size: 24px;
    color: #737373;
    font-weight: 500;
}

.content a {
    text-decoration: none;
    color: #FA4A0C;
    font-weight: 700;
    font-size: 24px;
}

/* download section */

.download {
    background-image: url(images/food-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 516px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    flex-basis: 100%;
    color: white;
    text-align: center;
    margin-top: 30px;
}

.download h2 {
    font-weight: 700;
    font-size: 40px;
}

.download p {
    font-weight: 500;
    font-size: 24px;
}

.btn .play {
    padding: 17px 30px;
    border-radius: 10px;
}

.btn .app {
    padding: 16px 40px;
    border-radius: 10px;
}

.btn .app:hover {
    background-color: white;
    color: black;
}

.dwnld{
    display: none;
}


/* footer */

.footer-wrapper{
    color: white;
}


.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}

.footer p {
    color: #5C5C5C;
    margin-top: 38px;
    font-weight: 700;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.icon i {
    margin-top: 36px;
    font-size: 36px;
    color: #FA4A0C;
}

/* --------media screen---------- */

@media (max-width: 600px) {

        /* header */
    .header-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    /* hero section */
    .hero-content {
        background-image: none;
        height: 560px;
        color: black;
    }
 
    .btn {
        justify-content: center;
        display: grid;
        gap: 40px;
        margin-top: 60px;
    }

    .btn .play-store {
        color: white;
        width: 130px;
        background-color: #FA4A0C;
    }

    .btn .app-store {
        color: #FA4A0C;
        width: 130px;
        border: 1px solid #FA4A0C;
    }

    /* hero section */
    .hero-text h4 {
        color: #737373;
        ;
    }

    .hero-text h1 {
        color: #252B42;
        margin-bottom: 24px;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 0.2px;
        font-family: 'Montserrat', sans-serif;
    }

      /* app working section */
      .top-head {
        margin-top: 300px;
    }

    /* blog section */
    .blog {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .blog img {
        max-width: 120%;
    }

    .content a {
        text-align: center;
        line-height: 36px;
        margin-bottom: 15px;
    }

    .content h2 {
        font-weight: 700;
        font-size: 42px;
        text-align: center;
        color: #252B42;;
        margin-bottom: 36px;
    }

    .content p {
        font-size: 24px;
        color: #737373;
        font-weight: 500;
        text-align: center;
        margin-bottom: 60px;
    }

    /* download section */
    .download{
        display: none;
    }

    .dwnld{
        background-color:  #252B42;;
        height: 516px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        flex-basis: 100%;
        color: white;
        text-align: center;
        margin-top: 30px;
    }
    
    .dwnld h2 {
        font-weight: 700;
        font-size: 40px;
    }
    
    .dwnld p {
        font-weight: 500;
        font-size: 24px;
        color: #BDBDBD;;
    }

    .butttn{
        margin-top: 60px;
    }

    .butttn .buy-now {
        color: white;
        padding: 24px 38px;
        border-radius: 10px;
        background-color: #FA4A0C;
        text-decoration: none;
        font-weight: 700;
        margin-right: 20px;
    }

    .butttn .try-for-free {
        color: white;
        padding: 22px 42px;
        border: 1px solid white;
        border-radius: 10px;
        text-decoration: none;
        font-weight: 700;
    }

    /* footer */
    .footer{
        display: none;
    }

    .icons{
        margin-left: 180px;
        font-size: 24px;
        color: #FA4A0C;
    }
    
    .social-icon p {
        color: #5C5C5C;
        font-weight: 700;
        font-size: 12px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
    }

    .social-icon .icons{
        margin-top: 40px;
        justify-content: center;
    }

    .footer-wrapper{
        padding: 80px 0;
    }

    .footer-wrapper p{
        color: black;
        text-align: center;
        margin-top: 10px;
    }
   

    
}