@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;900&family=Roboto:wght@400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* header */

header {
    padding: 30px 0;
}

.wrapper {
    max-width: 80%;
    margin: 0 auto;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
}

/* navigation items */

nav ul {
    display: flex;
    list-style: none;
    padding-top: 66px;
    gap: 60px;
}

nav ul li a {
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: #252B42;
}

nav ul li a:hover {
    color: #FA4A0C;
}

/* main section */

/* hero section */

.hero-content {
    background-image: url(images/food.png);
    height: 560px;
    color: white;
}

.hero-text {
    text-align: center;
}

.hero-text h4 {
    padding-top: 50px;
    margin-bottom: 17px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

.hero-text h1 {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
    font-family: 'Poppins', sans-serif;
}

.hero-text p {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
}

.btn {
    margin-top: 60px;
    font-weight: 700;
}

.btn .play-store {
    color: white;
    padding: 16px 40px;
    border-radius: 30px;
    background-color: #FA4A0C;
    text-decoration: none;
}

.btn .play-store:hover {
    background-color: rgb(160, 111, 111);
}

.btn .app-store {
    color: white;
    padding: 16px 40px;
    border: 1px solid white;
    border-radius: 30px;
    text-decoration: none;
}

.btn .app-store:hover {
    background-color: white;
    color: black;
}

.hero-img {
    display: flex;
    justify-content: center;
}

.hero-img img {
    width: 548px;
    height: 640px;
}

/* app working section */

.blog-part {
    padding-top: 420px;
}

.top-head {
    padding-bottom: 80px;
}

hr{
    border: 2px solid #E4E4E4;
    margin-bottom: 32px;
}

.top-head h3 {
    text-align: center;
    font-size: 44px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-top: 22px;
    color:  #000000;
    font-family: 'Poppins', sans-serif;
}

.blog {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
}

.blog img {
    max-width: 40%;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.content h2{
    font-size: 40px;
    color: #252B42;
}

.content p{
    font-size: 24px;
    color: #737373;
    font-weight: 500;
}

.content a {
    text-decoration: none;
    color: #FA4A0C;
    font-weight: 700;
    font-size: 24px;
}

/* download section */

.download {
    background-image: url(images/food-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 516px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    flex-basis: 100%;
    color: white;
    text-align: center;
    margin-top: 30px;
}

.download h2{
    font-weight: 700;
    font-size: 40px;
}

.download p{
    font-weight: 500;
    font-size: 24px;
}


/* footer */

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}
.footer p{
    color: #5C5C5C;
    margin-top: 38px;
    font-weight: 700;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.icon i {
    margin-top: 36px;
    font-size: 36px;
    color: #FA4A0C;
}


/* media screen */

@media (max-width: 600px) {
    .hero-content {
        background-image: none;
        height: 560px;
        color: black;
    }

    .btn {
        justify-content: center;
        display: grid;
        gap: 40px;
        margin-top: 60px;
    }

    .btn .play-store {
        color: white;
        width: 130px;
        background-color: #FA4A0C;
    }

    .btn .app-store {
        color: #FA4A0C;
        width: 130px;
        border: 1px solid #FA4A0C;
    }

    .top-head {
        margin-top: 100px;
        margin-bottom: 40px;
    }
}